# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyD2_hMWQwWF0Eq7ANPOlhKzR3KldNPp5ho

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_path = "output.csv"
csv = "output.csv"
weather_data_df = pd.read_csv("output.csv")
weather_data_df

,city,lat,long,temp,humidity,cloud,wind,country,date and time
0,oloron-sainte-marie,43.1944,-0.6107,49.14,71,90,6.91,FR,1615044880
1,ambulu,-8.3450,113.6058,76.50,86,99,3.22,ID,1615044881
2,port elizabeth,-33.9180,25.5701,75.20,69,0,17.27,ZA,1615044693
3,saint-philippe,-21.3585,55.7679,77.00,89,75,3.44,RE,1615044690
4,kontagora,10.3999,5.4695,102.40,8,83,5.19,NG,1615044881
...,...,...,...,...,...,...,...,...,...
558,plesetsk,62.7080,40.2916,11.68,97,99,6.96,RU,1615044995
559,cervo,43.6702,-7.4101,51.01,79,52,3.00,ES,1615044995
560,kavaratti,10.5669,72.6420,82.69,67,100,9.57,IN,1615044996
561,ulladulla,-35.3500,150.4667,58.19,82,90,2.21,AU,1615044731
562,davila,18.4726,120.5763,78.80,89,20,2.30,PH,1615044996

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

coordinates =weather_data_df[["lat", "long"]]
humidity = weather_data_df["humidity"].astype(float)

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
vacation_df = weather_data_df
# Create the names and bins for temperature
temp_bins = [-100,70, 80, 400]
temp_group_names = ["too cool", "70-80", "too hot"]

# Create the names and bins for wind
wind_bins = [-5, 10, 500]
wind_group_names = ["less than 10 mph", "more than 10 mph"]

# Create the names and bins for cloudiness
cloud_bins = [-5, 0.1, 500]
cloud_group_names = ["clear", "cloudy"]


vacation_df["temp"] = pd.cut(vacation_df["temp"], temp_bins, labels=temp_group_names, include_lowest=True)
vacation_df["wind"] = pd.cut(vacation_df["wind"], wind_bins, labels=wind_group_names, include_lowest=True)
vacation_df["cloud"] = pd.cut(vacation_df["cloud"], cloud_bins, labels=cloud_group_names, include_lowest=True)
vacation_df

,city,lat,long,temp,humidity,cloud,wind,country,date and time
0,oloron-sainte-marie,43.1944,-0.6107,too cool,71,cloudy,less than 10 mph,FR,1615044880
1,ambulu,-8.3450,113.6058,70-80,86,cloudy,less than 10 mph,ID,1615044881
2,port elizabeth,-33.9180,25.5701,70-80,69,clear,more than 10 mph,ZA,1615044693
3,saint-philippe,-21.3585,55.7679,70-80,89,cloudy,less than 10 mph,RE,1615044690
4,kontagora,10.3999,5.4695,too hot,8,cloudy,less than 10 mph,NG,1615044881
...,...,...,...,...,...,...,...,...,...
558,plesetsk,62.7080,40.2916,too cool,97,cloudy,less than 10 mph,RU,1615044995
559,cervo,43.6702,-7.4101,too cool,79,cloudy,less than 10 mph,ES,1615044995
560,kavaratti,10.5669,72.6420,too hot,67,cloudy,less than 10 mph,IN,1615044996
561,ulladulla,-35.3500,150.4667,too cool,82,cloudy,less than 10 mph,AU,1615044731
562,davila,18.4726,120.5763,70-80,89,cloudy,less than 10 mph,PH,1615044996

In [18]:
ideal_vacation_df=vacation_df.loc[vacation_df["temp"]=="70-80"]
ideal_vacation_df=ideal_vacation_df.loc[ideal_vacation_df["wind"]=="less than 10 mph"]
hotel_df = ideal_vacation_df.loc[(ideal_vacation_df["cloud"]=="clear")&(ideal_vacation_df["country"]=="AR")].copy()
hotel_df

,city,lat,long,temp,humidity,cloud,wind,country,date and time
138,tandil,-37.3217,-59.1332,70-80,36,clear,less than 10 mph,AR,1615044749
168,mercedes,-34.6515,-59.4307,70-80,43,clear,less than 10 mph,AR,1615044913
179,parana,-31.7320,-60.5238,70-80,46,clear,less than 10 mph,AR,1615044915
311,concordia,-31.3930,-58.0209,70-80,57,clear,less than 10 mph,AR,1615044942
379,necochea,-38.5473,-58.7368,70-80,50,clear,less than 10 mph,AR,1615044958
447,moron,-34.6534,-58.6198,70-80,43,clear,less than 10 mph,AR,1615044939

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel = []
locations = hotel_df["city"]
# geocoordinates

target_radius = 5000
target_type = "lodging"

for index,row in hotel_df.iterrows():
    target_coordinates = f'{row["lat"]},{row["long"]}'
# set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

# base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary

    
    response = requests.get(base_url, params=params)
#hotel.append(response['hotel'])
    #print(response.json())
    hotel_response=response.json()
    hotel.append(hotel_response["results"][0]["name"])
hotel_df["Hotel Name"]=""
hotel_df.loc[:,"Hotel Name"]=hotel

hotel_df

,city,lat,long,temp,humidity,cloud,wind,country,date and time,Hotel Name
138,tandil,-37.3217,-59.1332,70-80,36,clear,less than 10 mph,AR,1615044749,HOSTAL DE LA SIERRA TANDIL
168,mercedes,-34.6515,-59.4307,70-80,43,clear,less than 10 mph,AR,1615044913,Posada del Inti Centro
179,parana,-31.7320,-60.5238,70-80,46,clear,less than 10 mph,AR,1615044915,Howard Johnson Plaza Hotel Mayorazgo
311,concordia,-31.3930,-58.0209,70-80,57,clear,less than 10 mph,AR,1615044942,Palmar Hotel Casino
379,necochea,-38.5473,-58.7368,70-80,50,clear,less than 10 mph,AR,1615044958,dyd -mar Hotel
447,moron,-34.6534,-58.6198,70-80,43,clear,less than 10 mph,AR,1615044939,Hotel Morón

In [29]:
hotel_df=hotel_df.rename(columns={"city":"City", "country":"Country", "lat":"Lat", "long":"Lng"})

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure