# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json


# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
for city in cities:
    city_name = city.replace(" ", "%20")

# Print the city count to confirm sufficient count
len(cities)

596

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [36]:
url = "http://api.openweathermap.org/data/2.5/weather?q="
url
#print(requests.get(url))
units = "imperial"
city_no = []
temp = []
lat = []
long = []
humidity = []
cloud = []
wind = []
country = []
date_time = []
weather_json = []
weather_city = []
city_check = []
import time
page=0

#for a in cities:
    #b=a.replace(" ","%20")
    #city_check.append(b)

for city in cities:
    
    #while True:
        #query_url = f"{url}{city}&appid={weather_api_key}&units={units}"
        #weather_response = requests.get(query_url).json()
        #if weather_response.get('fault'):
            #print(weather_response,page)
            #time.sleep(100)
            #weather_response = requests.get(f"{query_url}&page={page}").json()
        
            #weather_city.extend(weather_response['main']['temp'])
            #page += 1
        #if len(weather_city) >= int(weather_response['main']['temp']):
            #break
    
    #len(weather_city) 
   
    query_url = f"{url}{city}&appid={weather_api_key}&units={units}"
    #print(query_url)
    weather_response = requests.get(query_url).json()
    try:
        weather_response["weather"]
    except KeyError:
        print(f'no {city} data is available')
        continue
    
    lat.append(weather_response['coord']['lat'])
    long.append(weather_response['coord']['lon'])
    temp.append(weather_response['main']['temp'])
    humidity.append(weather_response['main']['humidity'])
    cloud.append(weather_response['clouds']['all'])
    wind.append(weather_response['wind']['speed'])
    country.append(weather_response['sys']['country'])
    date_time.append(weather_response['dt'])
    weather_city.append(city)

    print(f'Name: {weather_response["name"]} ID: {weather_response["id"]}')

no yanan data is available
Name: Dorokhovo ID: 565172
Name: Bluff ID: 2206939
no cagayan de tawi-tawi data is available
Name: Mataura ID: 6201424
Name: Yulara ID: 6355222
Name: Hasaki ID: 2112802
Name: Tiksi ID: 2015306
Name: Half Moon Bay ID: 5354943
Name: Kahului ID: 5847411
Name: Berlevåg ID: 780687
Name: Vestmannaeyjar ID: 3412093
Name: Athabasca ID: 5887916
Name: Castro ID: 3466704
Name: Worland ID: 5843495
Name: City of San Pedro ID: 1688781
Name: Dali ID: 1814093
Name: Jamestown ID: 5122534
Name: Margate ID: 2643044
Name: Lagos ID: 2332453
Name: Seoul ID: 1835848
Name: Vardø ID: 777019
Name: Arbagar ID: 2016708
Name: Shaunavon ID: 6145425
Name: Pataias ID: 2265120
Name: Soubre ID: 2598243
Name: Rikitea ID: 4030556
no vaitupu data is available
Name: Punta Arenas ID: 3874787
Name: Troitsko-Pechorsk ID: 481548
Name: Salalah ID: 286621
Name: Tilichiki ID: 2120591
Name: Plouzané ID: 2986626
no illoqqortoormiut data is available
Name: Mar del Plata ID: 3430863
Name: Busselton ID: 2075265
Name: Calvinia ID: 3369174
Name: Brae ID: 2654970
Name: Norman Wells ID: 6089245
Name: Dudinka ID: 1507116
Name: Banda Aceh ID: 1215502
Name: Lebu ID: 3883457
Name: Kapaa ID: 5848280
Name: George Town ID: 1735106
Name: Hilo ID: 5855927
Name: Bambous Virieux ID: 1106677
Name: Katsuura ID: 2112309
Name: Uyemskiy ID: 477579
Name: Hashtrūd ID: 142554
Name: Saskylakh ID: 2017155
Name: Dikson ID: 1507390
Name: Asău ID: 686090
no bajo baudo data is available
no amderma data is available
Name: Albany ID: 5106841
Name: Katobu ID: 1640972
Name: Sinnamary ID: 3380290
Name: Karratha ID: 6620339
Name: Husavik ID: 2629833
Name: Bredasdorp ID: 1015776
Name: Bethel ID: 5282297
Name: Cherskiy ID: 2126199
Name: Lompoc ID: 5367788
Name: Hong Kong ID: 1819729
Name: Chui ID: 3443061
Name: Portland ID: 5746545
Name: Praia da Vitória ID: 3372760
Name: Maralal ID: 187725
Name: Saint Paul Harbor ID: 5866583
no metehara data is available
Name: Saint-Philippe ID: 935215
Name: Gualeguay ID: 3433663
Name: Ostrovnoy ID: 556268
Name: Butaritari ID: 2110227
Name: Pevek ID: 2122090
Name: Okahandja ID: 3354898
Name: Zhangaözen ID: 607610
Name: Caravelas ID: 3466980
Name: Vila do Maio ID: 3374120
Name: Kaitangata ID: 2208248
Name: Isla Mujeres ID: 3526756
Name: Hermanus ID: 3366880
Name: Tasiilaq ID: 3424607
Name: Nantucket ID: 4944903
Name: Machico ID: 2266895
Name: Bellūru ID: 1276506
Name: Ridgecrest ID: 5387494
Name: Comarapa ID: 3919703
Name: Leningradskiy ID: 2123814
Name: Tuktoyaktuk ID: 6170031
Name: Jalu ID: 86049
Name: Clyde River ID: 5924351
Name: Port Elizabeth ID: 964420
Name: Vilyuysk ID: 2013392
no saleaula data is available
Name: Hambantota ID: 1244926
Name: Kiryat Gat ID: 293842
Name: Cidreira ID: 3466165
Name: Chumikan ID: 2025256
Name: Ust-Nera ID: 2120048
Name: Ilula ID: 159179
no taolanaro data is available
Name: Halifax ID: 6324729
Name: Hobart ID: 2163355
Name: Mbengwi ID: 2227853
Name: Dunedin ID: 2191562
Name: Thompson ID: 6165406
Name: Beaupré ID: 6325479
no fevralsk data is available
Name: Torbay ID: 6167817
Name: Deputatsky ID: 2028164
Name: Pemba ID: 1028918
Name: San Quintín ID: 3984997
Name: Ushuaia ID: 3833367
Name: Soyo ID: 2236967
Name: Coahuayana Viejo ID: 4013679
Name: Vaini ID: 4032243
Name: Qaanaaq ID: 3831208
Name: Klaksvík ID: 2618795
Name: Barrow ID: 5880054
Name: Tautira ID: 4033557
Name: Brodick ID: 2654604
Name: Port Alfred ID: 964432
Name: Los Llanos de Aridane ID: 2514651
no samalaeulu data is available
Name: Sitka ID: 5557293
Name: Nampula ID: 1033356
Name: Ribeira Grande ID: 3372707
Name: Hithadhoo ID: 1282256
Name: Puerto Ayora ID: 3652764
Name: Atuona ID: 4020109
Name: Caborca ID: 3996893
Name: Nikolskoye ID: 546105
Name: Faya ID: 110690
Name: New Norfolk ID: 2155415
Name: Cayenne ID: 3382160
Name: Nishihara ID: 1855342
Name: Ca Mau ID: 1586443
no samusu data is available
Name: Chimbote ID: 3698304
Name: Saldanha ID: 3361934
no wulanhaote data is available
Name: Mehamn ID: 778707
Name: Bako ID: 342856
Name: Innisfail ID: 2162683
Name: São Félix do Xingu ID: 3388847
Name: Bhātāpāra ID: 1276084
Name: Presidente Epitácio ID: 3452331
Name: East London ID: 1006984
no tidore data is available
Name: Bonthe ID: 2409914
Name: Nyrob ID: 516588
Name: Maraã ID: 3663475
Name: Avarua ID: 4035715
Name: Iqaluit ID: 5983720
Name: Øksfjord ID: 778362
Name: Velventós ID: 733911
Name: Al Bardīyah ID: 80509
Name: Cape Town ID: 3369157
Name: Mahébourg ID: 934322
Name: Atar ID: 2381334
Name: Pacifica ID: 5380420
Name: Alofi ID: 4036284
Name: Brigantine ID: 4500920
Name: Palmer ID: 4946620
no kamenskoye data is available
no belushya guba data is available
Name: Severo-Yeniseyskiy ID: 1492566
Name: Khatanga ID: 2022572
no tuggurt data is available
Name: Alta Floresta ID: 6316343
Name: Goderich ID: 5962442
Name: La Gomera ID: 3594575
Name: Betioky ID: 1066310
Name: Upernavik ID: 3418910
Name: Bainbridge Island ID: 5816320
no attawapiskat data is available
Name: Ambon City ID: 1651531
Name: Lexington ID: 4297983
Name: Fairbanks ID: 5861897
Name: Bukachacha ID: 2026023
Name: Abhā ID: 110690
Name: Ubari ID: 2219235
Name: Casambalangan ID: 1718214
Name: Chabahar ID: 1161724
Name: Aswān ID: 359792
Name: Tigil' ID: 2120612
Name: Ordu ID: 741098
Name: Yablonovo ID: 578283
no sentyabrskiy data is available
Name: Wadowice ID: 3082722
Name: Geraldton ID: 2070998
Name: Port Blair ID: 1259385
Name: San Patricio ID: 4726521
Name: Hoquiam ID: 5797693
Name: Kuala Terengganu ID: 1734705
Name: Lüderitz ID: 3355672
Name: Usinsk ID: 863061
Name: Seydişehir ID: 301010
Name: Tianpeng ID: 1792916
Name: Puerto Barrios ID: 3591062
Name: Faro ID: 2268339
Name: Soeng Sang ID: 1606213
Name: Aldama ID: 3533079
Name: Neyshabur ID: 122285
Name: Port Hedland ID: 2063042
Name: Coquimbo ID: 3893629
Name: Camacha ID: 2270385
Name: Nāgar Karnūl ID: 1262230
Name: Yellowknife ID: 6185377
Name: Bengkulu ID: 1649150
Name: Oshakati ID: 3354021
no mys shmidta data is available
Name: Manavālakurichi ID: 1263942
Name: Saint-Augustin ID: 6137462
Name: Faanui ID: 4034551
Name: Hosszúhetény ID: 3051280
Name: Sept-Îles ID: 6144312
Name: Hobyo ID: 57000
Name: Labuhan ID: 8079926
no tumannyy data is available
Name: Vao ID: 2137773
Name: Ilulissat ID: 3423146
Name: Huarmey ID: 3939168
Name: Orchard Homes ID: 5670128
Name: General Roca ID: 3855065
Name: Chokurdakh ID: 2126123
Name: Buala ID: 2109528
Name: São Filipe ID: 3374210
Name: Bilibino ID: 2126682
Name: Santa Rosa ID: 1687894
Name: Severo-Kuril'sk ID: 2121385
no pokrovsk-uralskiy data is available
Name: Teknāf ID: 1185095
Name: Nanortalik ID: 3421765
no barentsburg data is available
Name: Guerrero Negro ID: 4021858
Name: Supe ID: 3928274
Name: Borisoglebsk ID: 572525
Name: Kutum ID: 371745
Name: Conakry ID: 2422465
Name: Salinas ID: 5391295
Name: Kavieng ID: 2094342
Name: Airai ID: 1651810
Name: Ha Giang ID: 1581349
Name: Sovetskiy ID: 1491230
Name: Kalevala ID: 554318
Name: Haapiti ID: 4034438
Name: Dingle ID: 1714733
no nizhneyansk data is available
Name: General Elizardo Aquino ID: 3438070
Name: Kamenka ID: 553766
Name: Poli ID: 150689
Name: Inhambane ID: 1045114
Name: Antalaha ID: 1071296
Name: Cockburn Town ID: 3576994
Name: Krasnovka ID: 542182
Name: Gurupá ID: 3398480
Name: Plast ID: 1494907
Name: ‘Ewa Beach ID: 5855051
Name: Flinders ID: 6255012
Name: Saint George ID: 5546220
no tunduru data is available
Name: Kasongo-Lunda ID: 2315026
Name: Marzuq ID: 72181
Name: Buchanan ID: 2278158
Name: Mmathubudukwane ID: 933347
Name: Thabazimbi ID: 949683
Name: Teguise ID: 2510573
Name: Mitsamiouli ID: 921786
no grand river south east data is available
Name: Kimberley ID: 990930
Name: Nelson Bay ID: 2155562
no umzimvubu data is available
Name: Kulachi ID: 1172779
Name: Ouésso ID: 2255564
Name: Wuchang ID: 2034141
Name: Kousséri ID: 2229798
Name: Korla ID: 1529376
Name: Naze ID: 1855540
Name: Provideniya ID: 4031574
Name: Denia ID: 2518878
Name: Powell ID: 5167350
no chom bung data is available
Name: North Bend ID: 5742974
no mergui data is available
Name: Tolaga Bay ID: 2180991
Name: Saint-Pierre ID: 935214
Name: Sørland ID: 3137469
Name: Esperance ID: 2071860
Name: Pacific Grove ID: 5380437
no warqla data is available
Name: Talnakh ID: 1490256
Name: Tahoua ID: 2439376
Name: Kodinsk ID: 1503037
Name: Kursk ID: 538560
Name: Rock Sound ID: 3571592
Name: Kudat ID: 1736458
Name: Longyearbyen ID: 2729907
Name: Rāmjībanpur ID: 1258658
Name: Aljezur ID: 2271968
Name: Lubyany ID: 533793
Name: Nemuro ID: 2128975
Name: Hanchuan ID: 1808977
Name: Nanzhang ID: 1799574
Name: Kokomo ID: 4922388
Name: Mayor Pablo Lagerenza ID: 3867427
Name: Mazinde ID: 154470
Name: La Tuque ID: 6050416
Name: Souillac ID: 933995
Name: Vila Franca do Campo ID: 3372472
Name: Ozernovskiy ID: 2122293
Name: Nome ID: 5870133
Name: Richards Bay ID: 962367
Name: Ponta Delgada ID: 3372783
no phan rang data is available
Name: Comodoro Rivadavia ID: 3860443
Name: Idenao ID: 2594800
Name: Taree ID: 2147381
Name: Necochea ID: 3430443
Name: Lorengau ID: 2092164
Name: Idappadi ID: 1269819
Name: Fortuna ID: 5563839
Name: Katangli ID: 2122783
Name: Havre-St-Pierre ID: 5972291
Name: Mount Gambier ID: 2156643
Name: Mercedes ID: 3430708
Name: Ciudad Bolivar ID: 3645532
Name: Umluj ID: 100926
Name: Prince Rupert ID: 6113406
Name: Wilmington ID: 4499379
Name: College ID: 5859699
Name: Mezhdurechensk ID: 1498920
Name: Altay ID: 1529651
Name: Tulun ID: 2014927
Name: Narsaq ID: 3421719
Name: Gijang ID: 1842966
Name: Westport ID: 4845585
Name: Sohag ID: 347796
Name: Kruisfontein ID: 986717
Name: Roald ID: 3141667
Name: Mananjary ID: 1061335
Name: Kuytun ID: 2021093
Name: Prince Albert ID: 6113335
Name: Touros ID: 3386213
Name: Carmelo ID: 3443341
Name: Ahipara ID: 2194098
Name: Carnarvon ID: 2074865
Name: Cap-aux-Meules ID: 5915327
Name: Port Lincoln ID: 2063036
Name: Leh ID: 1264976
Name: Inta ID: 1505579
Name: Itarema ID: 3393692
Name: Te Anau ID: 2181625
Name: Isangel ID: 2136825
Name: Lucapa ID: 145724
Name: Taylorville ID: 4251141
Name: Gaza ID: 281133
Name: Raudeberg ID: 3146487
Name: Wangkui ID: 2034228
Name: Andapa ID: 1076454
Name: Mozarlândia ID: 3456642
Name: Launceston ID: 2160517
Name: Korem ID: 332746
Name: Tombouctou ID: 2449066
Name: Fort Nelson ID: 5955902
Name: Kushima ID: 1895695
Name: Ballina ID: 2177069
Name: Cabo San Lucas ID: 3985710
no qabis data is available
Name: Sechura ID: 3691954
Name: Hokitika ID: 2206894
Name: Dongzhen ID: 6646306
Name: Black River ID: 3491355
Name: Kalabo ID: 915471
Name: Ivnya ID: 554973
no lolua data is available
Name: Qui Nhon ID: 1568574
Name: Buraidah ID: 107304
Name: Lagoa ID: 3372964
Name: Beloha ID: 1067565
Name: Carutapera ID: 3402648
Name: Pingliang ID: 1798760
Name: Kalmunai ID: 1242110
Name: Petropavlovsk-Kamchatskiy ID: 2122104
Name: Tuatapere ID: 2180815
Name: Chicama ID: 3698359
Name: Kwinana ID: 2068079
Name: Ust-Maya ID: 2013918
Name: Garden City ID: 4993659
Name: Aklavik ID: 5882953
Name: Kununurra ID: 2068110
no khonuu data is available
Name: Villefontaine ID: 2968771
Name: Shimoda ID: 1852357
Name: Luan ID: 2659977
Name: Nichinan ID: 1855476
Name: Barreiras ID: 3470583
Name: Kenai ID: 5866063
Name: Minna ID: 2330100
Name: Galle ID: 1246294
Name: San Cristobal ID: 3628473
Name: Khani ID: 610864
Name: Billings Metropolitan Area ID: 5640350
Name: Sola ID: 2134814
Name: Alekseyevsk ID: 2022083
Name: Ossora ID: 2122389
Name: Auki ID: 2109701
Name: Bambanglipuro ID: 1650434
Name: Mārkāpur ID: 1263504
Name: Khiv ID: 550201
Name: Havelock ID: 4470244
no palabuhanratu data is available
Name: Mayumba ID: 2399001
Name: Whitehorse ID: 6180550
Name: Diego de Almagro ID: 3892454
Name: Aksarka ID: 1512019
Name: Mana ID: 3381041
Name: Assiut ID: 359783
no sorvag data is available
Name: Homer ID: 5864145
Name: Derzhavīnsk ID: 1524606
Name: Ambulu ID: 1621313
Name: Aquiraz ID: 3407407
Name: Leshukonskoye ID: 535839
Name: Turaif ID: 101312
Name: Manta ID: 3654410
Name: Mto wa Mbu ID: 152743
Name: Zhangye ID: 1785036
Name: Barra de Tecoanapa ID: 3516171
Name: Clarksdale ID: 4421935
Name: Markova ID: 701802
Name: Havøysund ID: 779622
Name: Camabatela ID: 2242885
Name: Cabedelo ID: 3404558
Name: Mykolayivka ID: 700159
Name: Jesús María ID: 3853510
Name: Arrondissement de Saint-Denis ID: 2980915
Name: Solnechnyy ID: 2016307
Name: Shache ID: 1280037
Name: Le Port ID: 935616
Name: The Valley ID: 3573374
Name: Jiangyou ID: 1885823
Name: Formiga ID: 3463174
Name: Sibolga ID: 1213855
Name: Podgornoye ID: 508362
Name: Bathsheba ID: 3374083
Name: Monrovia ID: 2274895
Name: Moose Factory ID: 6078372
Name: Poum ID: 2138555
Name: Vanimo ID: 2084442
Name: Baykit ID: 1510689
Name: Neya ID: 522353
Name: Kemijärvi ID: 653272
Name: Arraial do Cabo ID: 3471451
Name: Flin Flon ID: 5954718
no tsihombe data is available
Name: Phatthalung ID: 1607778
Name: Tonota ID: 933000
Name: Puerto Escondido ID: 3520994
Name: Kargasok ID: 1504382
Name: Mae Sai ID: 1152194
Name: Lamlash ID: 2644984
Name: Batemans Bay ID: 2176639
no kerki data is available
Name: Alice Springs ID: 2077895
Name: Barcelos ID: 2742416
Name: Namtsy ID: 2019488
Name: Bulawayo ID: 894701
Name: Oudtshoorn ID: 967106
Name: Jinchang ID: 1805733
Name: Persianovskiy ID: 518970
Name: Rocha ID: 3440777
Name: Luba ID: 2309528
Name: West Wendover ID: 5710035
Name: Ayan ID: 2027316
Name: Weinan ID: 1791636
Name: Buin ID: 3897774
no tabiauea data is available
Name: Kidal ID: 2455290
Name: Aban ID: 1512218
Name: La Palma ID: 5364022
Name: Tegul'det ID: 1489822
Name: Codrington ID: 2171099
no grimari data is available
Name: Maningrida ID: 2067089
Name: Mezen' ID: 527321
Name: Mutuípe ID: 3456450
Name: Okhotsk ID: 2122605
Name: Warri ID: 2319133
Name: Mamakan ID: 2020311
Name: Hammerfest ID: 779683
Name: Ponta do Sol ID: 2264557
Name: Tonantins ID: 3661894
Name: Agogo ID: 2305537
Name: Gouré ID: 2444219
Name: Boz ID: 2996881
Name: Tafresh ID: 113636
Name: Castellaneta ID: 3179655
Name: Sittwe ID: 1295765
Name: Aberdeen ID: 2657832
Name: Simao ID: 1794209
Name: Indian Head ID: 4358916
Name: Enugu ID: 2343279
Name: São João da Barra ID: 3448903
Name: Novy Urengoy ID: 1496511
Name: Maţāy ID: 352628
Name: Vallenar ID: 3868633
Name: Yuanping ID: 1786060
Name: Portales ID: 5484874
Name: Marawi ID: 1701054
Name: Sabha ID: 2212775
Name: Jales ID: 3460186
Name: Acurenam ID: 2310533
Name: Jeremoabo ID: 3459922
Name: Chāndpur ID: 1274714
Name: Vitim ID: 2013375
Name: Ancud ID: 3899695
Name: Lima Duarte ID: 3458591
Name: Kapit ID: 1737185
Name: Carballo ID: 3126369
Name: Arroyo de la Encomienda ID: 3129371
Name: Henties Bay ID: 3356832
Name: Ariquemes ID: 3665199
Name: Porkhov ID: 506278
Name: Oranjemund ID: 3354071
Name: Vega de Alatorre ID: 3514843
Name: Luwuk ID: 1637001
Name: Salinópolis ID: 3389822
Name: Zinder ID: 2437798
Name: Estepona ID: 2517816
Name: Samarai ID: 2132606
Name: Tripoli ID: 2210247
Name: Hofn ID: 2630299
Name: Boca do Acre ID: 3664956
Name: Ongwediva ID: 3354147
Name: Thunder Bay ID: 6166142
Name: Pisco ID: 3932145
no cumaribo data is available
Name: Ometepec ID: 3522343
Name: Arsk ID: 580850
Name: Kropotkin ID: 540761
no azimur data is available
Name: Abu Kamal ID: 174448
no bolungarvik data is available
Name: Akureyri ID: 2633274
Name: Kholbon ID: 2022394
Name: Itoman ID: 1861280
Name: Mossamedes ID: 3347019
no miranorte data is available
Name: Ulaangom ID: 1515029
Name: Honiara ID: 2108502
Name: Domoni ID: 921906
Name: Texarkana ID: 4736096
Name: San Joaquin ID: 5392126
Name: Dongsheng ID: 1812256
Name: Arkhangelsk ID: 581049
Name: ‘Āhuimanu ID: 5856516
Name: Samfya ID: 899274
Name: Baruun-Urt ID: 2032614
Name: Manzhouli ID: 2035836
Name: Saint Anthony ID: 5044290
Name: Belyy Yar ID: 1510377
Name: Forsytheganj ID: 10722858
Name: Beira ID: 1052373
Name: Acaraú ID: 3408368
no fort saint john data is available
Name: Stretford ID: 2636663
Name: Miraflores ID: 3761194
Name: Guadalupe ID: 4005492
Name: Road Town ID: 3577430
Name: Strezhevoy ID: 1490796
Name: Coos Bay ID: 5720495
Name: Lao Cai ID: 1576303
Name: Waddān ID: 2209055
Name: Itápolis ID: 3460671
Name: Elizabeth City ID: 4465088
Name: Chateaubelair ID: 3577933
Name: Erzin ID: 296852
Name: Araguaína ID: 3407357
Name: Makkah al Mukarramah ID: 104515
Name: Bam ID: 141736
Name: Wukari ID: 2318921
Name: Dhidhdhoo ID: 1337612
Name: Siguiri ID: 2415702
Name: Calgary ID: 5913490
Name: Sirmaur ID: 1256072
Name: Kandrian ID: 2094746
Name: Lillesand ID: 3147467
Name: Matagami ID: 6067747
Name: Muros ID: 3115824
Name: Lamu ID: 189741
Name: Laichow ID: 1804578
Name: Miles City ID: 5666176
Name: Ternate ID: 1624041
Name: Zhigansk ID: 2012530

In [ ]:
#for city in city_check:

        #lat.append(weather_json['coord']['lat'])
        #temp.append(weather_json['main']['temp'])
        #humidity.append(weather_json['main']['humidity'])
        #cloud.append(weather_json['clouds']['all'])
        #wind.append(weather_json['wind']['speed'])
        #weather_city.append(city)

        #print(f'not enough data for {city}.')

In [43]:
weather_dict = {
    "city": weather_city,
    "lat": lat,
    "long": long,
    "temp": temp,
    "humidity": humidity,
    "cloud": cloud,
    "wind": wind,
    "country":country,
    "date and time":date_time
}

,city,lat,long,temp,humidity,cloud,wind,country,date and time
0,dorokhovo,55.5506,36.3744,30.20,64,75,15.66,RU,1614730193
1,bluff,-46.6000,168.3333,73.99,47,12,11.01,NZ,1614730193
2,mataura,-46.1927,168.8643,73.99,47,28,11.01,NZ,1614730193
3,yulara,-25.2406,130.9889,82.40,34,0,14.97,AU,1614730194
4,hasaki,35.7333,140.8333,40.69,48,20,18.41,JP,1614730194
...,...,...,...,...,...,...,...,...,...
546,lamu,-2.2717,40.9020,76.51,86,2,9.75,KE,1614730343
547,laizhou,37.1717,119.9214,38.53,74,100,14.36,CN,1614730343
548,miles city,46.4083,-105.8406,55.40,26,1,14.97,US,1614730343
549,ternate,0.8000,127.4000,81.34,73,100,6.08,ID,1614730344
550,zhigansk,66.7697,123.3711,-33.03,82,20,10.58,RU,1614730344

In [39]:
print(len(weather_city))
print(len(lat))
print(len(temp))
print(len(humidity))
print(len(cloud))
print(len(wind))

551
551
551
551
551
551

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [46]:
weather_data_df = pd.DataFrame(data=weather_dict)

weather_data_df.to_csv('output.csv')
weather_data_df

,city,lat,long,temp,humidity,cloud,wind,country,date and time
0,dorokhovo,55.5506,36.3744,30.20,64,75,15.66,RU,1614730193
1,bluff,-46.6000,168.3333,73.99,47,12,11.01,NZ,1614730193
2,mataura,-46.1927,168.8643,73.99,47,28,11.01,NZ,1614730193
3,yulara,-25.2406,130.9889,82.40,34,0,14.97,AU,1614730194
4,hasaki,35.7333,140.8333,40.69,48,20,18.41,JP,1614730194
...,...,...,...,...,...,...,...,...,...
546,lamu,-2.2717,40.9020,76.51,86,2,9.75,KE,1614730343
547,laizhou,37.1717,119.9214,38.53,74,100,14.36,CN,1614730343
548,miles city,46.4083,-105.8406,55.40,26,1,14.97,US,1614730343
549,ternate,0.8000,127.4000,81.34,73,100,6.08,ID,1614730344
550,zhigansk,66.7697,123.3711,-33.03,82,20,10.58,RU,1614730344

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression